*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.container{
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 36%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.content{
	position: relative;
    max-width: 700px;
    padding: 2rem;
    z-index: 1;
}

.content h2{
	color: #fff44f;
	font-family: "Dancing Script", cursive;
	font-size: 4.3rem;
	margin-bottom: 0.8rem;
}

.content p{
	color: white;
	font-size: 1.2rem;
	font-weight: 100;
}

.btn{
	padding: 0.75rem 1.25rem;
	text-transform: uppercase;
	color: #fff44f;
	font-weight: 550;
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	background-color: #111;
	display: inline-block;
	margin-top: .8rem;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
	opacity: 0.8;
}